body {
    font-family: Arial, sans-serif;
    background-image: url('/nhom1-final-project/picture/moutain.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-regis {
    background: white;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}